<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
    <header>
        <nav class="navbar">
            <ul class="menu-items-container">
                <li><a href="{{path('Home')}}" class="menu-items"> Accueil</a></li>
                <li><a href="" class="menu-items"></a></li>
                <li><a href="" class="menu-items"></a></li>
                <li><a href="" class="menu-items"></a></li>
            </ul>
            <ul class="navbar-users">
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin')}}" class="menu-items"> Panel D'Administration</a></li>
            {% endif %}
            {% if app.user %}
                <li><a href="{{ path('logout') }}" class="menu-items"> Se déconnecter</a></li>
                <div class="nav-avatars-container">
                    <a href="">
                        <img 
                        src="/img/6596121.png" 
                        alt="Avatar" 
                        class="nav-avatar"
                        >
                    </a>
                </div>
                <li class="menu-items">Bonjour {{ app.user.userIdentifier }}</li>
            {% else %}
                <li><a href="{{ path('register') }}" class="menu-items"> S'inscrire</a></li>
                <li><a href="{{ path('login') }}" class="menu-items"> Se connecter</a></li>
            {% endif %}

            </ul>
        </nav>
    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
